    *
{
    margin: 0;
    padding: 0;
}



@font-face
{
    font-family: OpenSans;
    font-weight: 700;

    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}

@font-face
{
    font-family: OpenSans;
    font-weight: 400;

    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face
{
    font-family: Bebas;

    src: url(../fonts/bebas_neue/bebas_neue_bold.ttf) format('truetype');
}

@font-face
{
    font-family: MS Gothic;

    src: url(../fonts/MSGOTHIC.TTF) format('truetype');
}

.main_wrapper
{
    font-family: 'OpenSans';

    width: 1024px;
    margin: 0 auto;

    color: #6d1e00;
}

.row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        align-items: center;

    width: 100%;

    -ms-align-items: center;
}

a
{
    text-decoration: none;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        Верхнее меню
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.nav
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    height: 90px;
    padding-right: 42px;
    padding-left: 41px;
}


.nav-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 728px;

    list-style: none;
}

.nav-link
{
    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;

    color: rgb(109, 30, 0);
}

.switch_item
{
    margin-right: 6.5px;
    margin-left: 6.5px;
}

.switch_item:hover
{
    cursor: pointer;
}

.nav-mobile
{
    display: none;
}


/* Шапка */

header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    height: 673px;

    background-image: url(../img/header_bg_tab.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}



.logo
{
    width: 172px;
    margin-top: 6em;
    margin-left: 4em;
}

.header_card
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 458px;
    height: 193px;
    margin: 0 auto;
    margin-top: 104px;

    color: #fff;
    border: 1px solid;
    border-color: #533019;
    background-image: url(../img/header_card_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.5);
            box-shadow: 0 14px 28px rgba(0,0,0,.5);
}

.header_card h1
{
    font-family: 'Bebas';
    font-size: 3em;
    font-weight: 400;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    margin-top: 20px;

    text-transform: uppercase;
}

.header_card_jp h1
{
    font-size: 5em;

    display: block;
}


.header_card h1 span
{
    font-size: 2em;

    margin-top: 15px;
}

.header_card_jp h1 span
{
    font-size: .8em;

    margin-top: 15px;
}

.header_card_jp h1 span:first-child
{
    font-family: 'Georgia';
    font-size: .5em;

    margin-top: 15px;
}

.about
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    background-image: url(../img/about_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.about_card
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 672px;
    height: 272px;
    margin-top: 105px;
    margin-bottom: 198px;
    padding: 44px;

    border: 1px solid #d2d2d2;
    border-bottom: 5px solid #6d1e00;
    background-color: rgba(245, 245, 245, .79);
    -webkit-box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
            box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
}



.about_card p
{
    font-family: OpenSans;
    font-size: 1em;
    font-weight: 400;

    text-align: justify;

    color: #6d1e00;
}

.about_card_jp p
{
    font-family: 'MS Gothic' ;
    line-height: 1.3;
}

.about_card p span
{
    font-weight: bold;
}

.program
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    height: 1032px;

    background-image: url(../img/knowledge_bg_tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.program_card
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 821px;
    height: 864px;
    padding-top: 76px;

    border-bottom: 5px solid #6d1e00;
    background-color: rgba(255, 255, 255, .79);
    -webkit-box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
            box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
}

.program_card_jp
{
    font-family: 'MS Gothic' ;
    line-height: 1.3;
}

.program_card h2
{
    padding-right: 3px;
    padding-bottom: 26px;
    padding-left: 3px;

    text-transform: uppercase;

    border-bottom: 1px solid #6d1e00;
}

.program_card_jp h2
{
    padding-left: 30px;

    border: none;
}

.program_card_jp hr
{
    width: 45%;
    height: 1px;

    border: 0 none;
    background-color: #6d1e00;
}

.program_card .row
{
    margin-top: 27px;
    margin-bottom: calc(58px - 27px);
}

.program_card .book-icon
{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 36px;
    margin-left: 124px;

    background-image: url(../img/book_ico.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.program_card_jp .book-icon
{
    margin-right: 34px;
}

.program_card .people-icon
{
    width: 43px;
    height: 43px;
    margin-top: 3px;
    margin-right: 33px;
    margin-left: 117px;

    background-image: url(../img/people_ico.png);
    background-repeat: no-repeat;
    background-size: contain;
}




.program_card .kokoshnik-icon
{
    width: 91px;
    height: 33px;
    margin-top: 7px;
    margin-right: 34px;
    margin-left: 126px;

    background-image: url(../img/kokoshnik_ico.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.program_card p
{
    font-weight: 400;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-right: 111px;
}

.mindmap
{
    width: 774px;
    height: 330px;
    margin-bottom: calc(54px - 27px);

    background-image: url(../img/mindmap_tab.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.program_card_jp .mindmap
{
    background-image: url(../img/mindmap_jap_tab.png);
}

.important
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    height: 761px;

    color: #fff;
    background-image: url(../img/need-to-know_tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.important_jp
{
    font-family: 'MS Gothic' ;
    line-height: 1.3;
}

.important h2
{
    font-size: 24px;
    font-weight: 700;

    margin-top: 50px;
    margin-bottom: 34px;

    text-transform: uppercase;
}



.important hr
{
    width: 56%;
    height: 1px;

    color: #7b4c39;
    border: 0 none;
    background-color: #7b4c39;
}

.important .row
{
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;

    height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.important .row .cup
{
    width: 34px;
    height: 32px;
    margin-right: 33px;
    margin-left: 225px;

    background-image: url(../img/cup.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.important .row p
{
    font-weight: 400;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;

    width: 53%;
}

.meeting
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    height: 663px;

    background-image: url(../img/meeting_bg_tab.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.meeting_card_jp
{
    font-family: 'MS Gothic' ;
    line-height: 1.3;
}

.meeting hr
{
    width: 67%;
    height: 1px;

    color: #7b4c39;
    border: 0 none;
    background-color: #7b4c39;
}

.meeting_card
{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 820px;
    height: 446px;
    margin-top: 34px;

    border-bottom: 5px solid #6d1e00;
    background-color: rgba(255, 255, 255, .79);
    -webkit-box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
            box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
}

.meeting_card_jp
{
    font-family: 'MS Gothic' ;
    line-height: 1.3;
}

.meeting_card h2
{
    font-size: 24px;

    margin-top: 31px;
    margin-bottom: 15px;

    text-transform: uppercase;
}


.meeting_card  .row
{
    height: 66px;
}

.meeting_card_jp  .row:last-child
{
    height: 80px;
}

.meeting_card  .row .book-ico
{
    width: 24px;
    height: 22px;
    margin-right: 33px;
    margin-left: 134px;

    background-image: url(../img/book_ico.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.meeting_card p
{
    line-height: 1;

    width: 70%;
}

.meeting_card_jp p
{
    line-height: 1.3;
}

.price
{
    font-weight: 400;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    height: 664px;

    color: white;
}

.price .row
{
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    justify-content: center;

    margin-top: 11px;
    margin-bottom: 11px;
}

.price .column
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 400px;
    height: 259px;
    margin-right: 11px;
    margin-left: 11px;

    border-width: 1px;
    border-style: solid;
    border-color: #55311a;
    background-color: #000;
    -webkit-box-shadow: -3px 3px 16px 0 rgba(0, 0, 0, .46);
            box-shadow: -3px 3px 16px 0 rgba(0, 0, 0, .46);
}

.price h4
{
    text-transform: uppercase;
}

.cal
{
    padding-top: 53px;
    padding-bottom: 30px;

    background-image: url(../img/cal_bg_tab.jpg);
}

.cal .img
{
    width: 49px;
    height: 44px;
    margin-bottom: 36px;

    background-image: url(../img/cal_ico.png);
    background-size: cover;
}

.cal h4
{
    margin-bottom: 22px;
}

.coin
{
    padding-top: 54px;
    padding-bottom: 30px;

    background-image: url(../img/coin_bg_tab.jpg);
}

.coin h4
{
    margin-bottom: 26px;
}

.coin .img
{
    width: 54px;
    height: 46px;
    margin-bottom: 31px;

    background-image: url(../img/coin_ico.png);
    background-size: cover;
}

.dialog
{
    padding-top: 39px;
    padding-bottom: 30px;

    background-image: url(../img/dialog_bg_tab.jpg);
}

.dialog .img
{
    width: 53px;
    height: 52px;
    margin-bottom: 36px;

    background-image: url(../img/dialog_ico.png);
    background-size: cover;
}

.dialog h4
{
    margin-bottom: 28px;
}

.dialog_jp h4
{
    margin-bottom: 12px;
}

.dialog span
{
    margin-left: 100px;
}

.begining
{
    padding-top: 42px;
    padding-bottom: 30px;

    background-image: url(../img/begining_bg_tab.jpg);
}

.begining .img
{
    width: 50px;
    height: 50px;
    margin-bottom: 33px;

    background-image: url(../img/begining_ico.png);
    background-size: cover;
}


.begining h4
{
    margin-bottom: 29px;
}


footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    min-height: 479px;

    color: #fff;
    background-image: url(../img/footer_bg.jpg);
    background-size: cover;
}

footer h2
{
    font-family: OpenSans;
    font-size: 24px;
    font-weight: 700;

    margin-top: 80px;
    margin-bottom: 60px;

    text-transform: uppercase;

    color: #fff;
}

footer .row
{
    -ms-flex-pack: distribute;
    justify-content: space-around;

    margin-bottom: 9px;
}

footer form input
{
    font-size: 14px;
    font-weight: 400;

    width: 242px;
    height: 33px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;

    border: none;
    border-radius: 3px;
    background-color: #fff;
}

footer form .submit
{
    font-size: 18px;
    font-weight: 400;

    width: 262px;
    height: 33px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 0;

    color: #fffefe;
    border-color: #d70000;
    border-radius: 25px;
    background-color: #d70000;

    -webkit-appearance: none;
}

footer form .submit:hover
{
    cursor: pointer;

    border-color: #fff;
}


footer h3
{
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 700;

    text-align: center;

    color: #fff;
}

footer .email
{
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 400;

    color: #fff;
}


@media  (max-width: 425px)
{
    .nav
    {
        display: none;
    }

    .nav-mobile
    {
        display: block;
    }


    .nav-mobile-close
    {
        display: none;

        width: 32px;
        height: 32px;
    }



    .nav-mobile-close:before,
    .nav-mobile-close:after
    {
        position: absolute;
        left: 55px;

        width: 2px;
        height: 33px;

        content: ' ';

        background-color: #6d1e00;
    }
    .nav-mobile-close:before
    {
        transform: rotate(45deg);
    }
    .nav-mobile-close:after
    {
        transform: rotate(-45deg);
    }

    .nav-mobile .row
    {
        position: relative;
        z-index: 999999;

        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        width: 948px;
        height: 90px;
        padding-left: 42px;

        background-color: white;
    }


    .nav-mobile h2
    {
        font-size: 30px;
        font-weight: 400;
    }


    .nav-list-mobile
    {
        position: absolute;
        top: -965px;

        width: 1024px;

        list-style: none;

        -webkit-transition: .5s;
             -o-transition: .5s;
                transition: .5s;

        background-color: rgba(255, 255, 255, .98);
    }

    .mobile-menu-open
    {
        top: 90px;

        -webkit-transition: .5s;
             -o-transition: .5s;
                transition: .5s;
    }

    .nav-item
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        width: 100%;
        height: 110px;
    }

    .nav-item:hover
    {
        cursor: pointer;

        color: #fff;
        background-color: #6d1e00;
    }


    .nav-item:hover a
    {
        color: #fff;
    }

    .nav-link
    {
        font-size: 40px;
        font-weight: 400;
    }

    .nav_switch
    {
        margin-top: 12px;
    }

    .switch_item
    {
        height: 34px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .header_card
    {
        margin-top: 60px;
    }

    .about_card p
    {
        font-size: 1.3em;
        line-height: 1.3;
    }

    .program_card
    {
        height: 888px;
    }

    .program_card hr
    {
        width: 56%;
    }
    .program_card h2
    {
        font-size: 2em;
    }

    .program_card p
    {
        font-size: 1.2em;
    }

    .program_card .row
    {
    }

    .program_card .book-icon
    {
        width: 73px;
        height: 54px;
        margin-right: 32px;
        margin-left: 73px;
    }

    .program_card .people-icon
    {
        width: 74px;
        height: 54px;
        margin-left: 68px;
    }

    .program_card .kokoshnik-icon
    {
        width: 160px;
        height: 56px;
        margin-left: 80px;
    }

    .program_card_jp .book-icon
    {
        width: 54px;
        height: 54px;
        margin-right: 22px;
        margin-left: 77px;
    }

    .program_card_jp .people-icon
    {
        width: 74px;
        height: 54px;
        margin-right: 5px;
        margin-left: 75px;
    }
    .program_card_jp .kokoshnik-icon
    {
        margin-left: 67px;
    }

    .mindmap
    {
        height: 360px;
        margin-bottom: 0;
    }

    .important hr
    {
        width: 62%;
    }

    .important .row
    {
        height: 46px;
    }

    .important .row .cup
    {
        margin-left: 186px;
    }

    .important h2
    {
        font-size: 2em;
    }

    .important_jp h2
    {
    }

    .important .row p
    {
        font-size: 1.2em;

        width: 64%;
    }

    .meeting_card
    {
        display: flex;
        align-items: center;
        flex-direction: column;

        height: 500px;
        margin-top: 50px;
    }

    .meeting_card h2
    {
        font-size: 2em;
    }

    .meeting_card_jp h2
    {
        font-family: 'OpenSans';
    }

    .meeting_card hr
    {
        width: 79%;
    }

    .meeting_card .row
    {
        height: 75px;
    }

    .meeting_card .row:last-child
    {
        height: 106px;
    }

    .meeting_card .row .book-ico
    {
        width: 37px;
        height: 30px;
        margin-right: 26px;
        margin-left: 84px;

        background-size: contain;
    }

    .meeting_card p
    {
        font-size: 1.2em;

        width: 70%;
    }

    .price h4
    {
        font-size: 1.5em;

        margin-bottom: 10px;
    }

    .price p
    {
        font-size: 1.2em;
    }

    .cal .img
    {
        margin-bottom: 19px;
    }

    .coin .img
    {
        margin-bottom: 13px;
    }

    .dialog .img
    {
        margin-bottom: 20px;
    }

    .dialog_jp
    {
        padding-bottom: 10px;
    }
    .dialog_jp .img
    {
        margin-bottom: 20px;
    }

    .begining .img
    {
        margin-bottom: 19px;
    }

    .begining_jp p
    {
        font-size: 1.1em;
    }

    footer h2
    {
        font-size: 35px;

        margin-top: 40px;
        margin-bottom: 40px;
    }

    footer form input
    {
        font-size: 18px;

        width: 276px;
        height: 48px;
    }

    footer form .submit
    {
        font-size: 24px;

        height: 44px;
        margin-bottom: 20px;
    }
    footer h3
    {
        font-size: 30px;
    }

    footer .email
    {
        font-size: 25px;
    }
}

@media (min-width: 1024px)
{
    .main_wrapper
    {
        width: 100%;
        margin: 0 auto;

        color: #6d1e00;
    }

    .nav
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        width: 63%;
        height: 5vw;
        margin: 0 auto;
    }


    .nav-list
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        width: 77%;

        list-style: none;
    }

    .nav-item
    {
        display: flex;
        align-items: center;
    }

    .nav-link
    {
        font-size: .9vw;
        font-weight: 700;

        text-transform: uppercase;

        color: rgb(109, 30, 0);
    }

    .switch_item
    {
        margin-right: 6.5px;
        margin-left: 6.5px;
    }

    .switch_item:hover
    {
        cursor: pointer;
    }

    header
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

        height: 45vw;

        background-color: #35231c;
        background-image: url(../img/header_bg.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: contain;
    }

    .logo
    {
        width: 12vw;
        margin-top: 5.6vw;
        margin-left: 20.4vw;
    }

    .header_card
    {
        /* display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; */
        width: 32vw;
        height: 14vw;
        margin: 0 auto;
        margin-top: 4vw;

        color: #fff;
        border: 1px solid;
        border-color: #533019;
        background-image: url(../img/header_card_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.5);
                box-shadow: 0 14px 28px rgba(0,0,0,.5);
    }

    .header_card h1
    {
        font-size: 3.5vw;
        font-weight: 400;

        margin-top: 2vw;

        text-align: center;
        text-transform: uppercase;
    }

    .header_card_jp h1
    {
        font-size: 5vw;
        font-weight: 400;

        margin-top: 2vw;

        text-align: center;
        text-transform: uppercase;
    }

    .header_card h1 span
    {
        font-size: 7vw;

        margin-top: 1vw;
    }

    .header_card_jp h1 span
    {
        font-size: 4vw;

        margin-top: 1vw;
    }

    .about
    {
        height: 40vw;
    }

    .about_card
    {
        width: 52vw;
        height: 17vw;
        margin-top: 7.5vw;
        padding: 3vw;
    }

    .about_card p
    {
        font-size: 1.1vw;
    }


    .program
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        height: 91vw;

        background-image: url(../img/knowledge_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .program_card
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 72vw;
        height: 76vw;
        padding-top: 6.5vw;

        border-bottom: 5px solid #6d1e00;
        background-color: rgba(255, 255, 255, .79);
        -webkit-box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
                box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
    }

    .program_card h2
    {
        font-size: 2.25vw;

        padding-right: .5vw;
        padding-bottom: 1.9vw;
        padding-left: .5vw;

        text-transform: uppercase;

        border-bottom: 1px solid #6d1e00;
    }

    .program_card_jp h2
    {
        padding-left: 3vw;

        border: none;
    }

    .program_card .row
    {
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }

    .program_card p
    {
        font-size: 1.4vw;
        font-weight: 400;
        line-height: 1.2;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .program_card .row .book-icon
    {
        width: 3.1vw;
        height: 3vw;
        margin-right: 3.2vw;
        margin-left: 11vw;
    }

    .program_card_jp .row .book-icon
    {
        margin-right: 2.2vw;
    }


    .program_card .row .people-icon
    {
        width: 3.8vw;
        height: 4vw;
        margin-right: 2.9vw;
        margin-left: 10.5vw;
    }

    .program_card_jp .row .people-icon
    {
        margin-right: 2.1vw;
    }

    .program_card .row .kokoshnik-icon
    {
        width: 7vw;
        height: 6vw;
        margin-right: 3.5vw;
        margin-left: 11vw;
    }

    .program_card_jp .row .kokoshnik-icon
    {
        margin-right: 2.7vw;
    }
    .mindmap
    {
        width: 64vw;
        height: 30vw;
        margin-top: .5vw;
        margin-bottom: 1vw;

        background-image: url(../img/mindmap.png);
    }

    .program_card_jp .mindmap
    {
        width: 64vw;
        height: 30vw;
        margin-top: .5vw;
        margin-bottom: 1vw;

        background-image: url(../img/mindmap_jap.png);
    }

    .important
    {
        height: 63vw;
        /* padding-left: 24.5vw; */

        background-image: url(../img/need-to-know_bg.jpg);
        background-size: cover;
    }

    /* .important_jp
    {
        padding-left: 24.5vw;
    } */

    .important h2
    {
        font-size: 2.25vw;
        font-weight: 700;

        margin-top: 6.5vw;
        margin-bottom: 3vw;
        /* margin-left: 14vw; */
    }

    .important_jp h2
    {
        margin-left: 4vw;
    }


    .important .row
    {
        height: 3.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    .important hr
    {
        width: 50%;
    }

    .important .row .cup
    {
        width: 3vw;
        height: 2.89vw;
        margin-right: 3.2vw;
        margin-left: 24vw;
    }

    .important .row p
    {
        font-size: 1.4vw;
    }

    .important_jp .row p
    {
        width: 48.5%;
    }

    .meeting
    {
        height: 53vw;

        background-image: url(../img/meeting_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .meeting_card
    {
        width: 69vw;
        height: 41vw;
        margin-top: 7vw;

        border-bottom: 5px solid #6d1e00;
        background-color: rgba(255, 255, 255, .79);
        -webkit-box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
                box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, .25);
    }

    .meeting_card h2
    {
        font-size: 2.25vw;
        font-weight: 700;

        margin-top: 3vw;
        margin-bottom: 1.5vw;
    }



    .meeting hr
    {
        width: 72%;
    }
    .meeting_card .row
    {
        height: 6vw;
    }

    .meeting_card .row:last-child
    {
        height: 9vw;
    }

    .meeting_card .row .book-ico
    {
        width: 2.2vw;
        height: 2.05vw;
        margin-right: 3.4vw;
        margin-left: 9.7vw;
    }

    .meeting_card p
    {
        font-size: 1.5vw;
    }

    .price
    {
        font-size: 1.1vw;
        font-weight: 400;

        height: 55vw;
        margin-top: 4vw;

        color: white;
    }

    .price h4
    {
        font-size: 1.5vw;
        font-weight: 700;
    }

    .price .row
    {
        display: -webkit-flex;
        display:     -ms-flex;
        display:         flex;
        justify-content: center;

        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .price .column
    {
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-align: center;
        -ms-flex-direction: column;

        width: 33.7vw;
        height: 22.25vw;
        margin-right: 1vw;
        margin-left: 1vw;

        border-width: 1px;
        border-style: solid;
        border-color: #55311a;
        background-color: #000;
        -webkit-box-shadow: -3px 3px 16px 0 rgba(0, 0, 0, .46);
                box-shadow: -3px 3px 16px 0 rgba(0, 0, 0, .46);
    }

    .cal
    {
        padding-top: 4.5vw;

        background-image: url(../img/cal_bg.jpg);
        -webkit-background-size: cover;
                background-size: cover;
    }

    .cal .img
    {
        width: 4.2vw;
        height: 3.8vw;
        margin-bottom: 3.39vw;
    }

    .cal h4
    {
        margin-bottom: 1.35vw;
    }

    .coin
    {
        padding-top: 4.7vw;

        background-image: url(../img/coin_bg.jpg);
        -webkit-background-size: cover;
                background-size: cover;
    }

    .coin .img
    {
        width: 4.7vw;
        height: 4vw;
        margin-bottom: 3.2vw;

        background-image: url(../img/coin_ico.png);
        background-size: cover;
    }

    .coin h4
    {
        margin-bottom: 1.3vw;
    }

    .dialog
    {
        padding-top: 3.5vw;

        background-image: url(../img/dialog_bg.jpg);
        -webkit-background-size: cover;
                background-size: cover;
    }

    .dialog_jp h4
    {
        margin-bottom: 28px;
    }

    .dialog .img
    {
        width: 4.59vw;
        height: 4.5vw;
        margin-bottom: 2.1vw;

        background-image: url(../img/dialog_ico.png);
    }

    .begining
    {
        padding-top: 4vw;

        background-image: url(../img/begining_bg.jpg);
        -webkit-background-size: cover;
                background-size: cover;
    }

    .begining .img
    {
        width: 4.3vw;
        height: 4.3vw;
        margin-bottom: 2vw;

        background-image: url(../img/begining_ico.png);
        background-size: cover;
    }

    footer
    {
        height: 48vw;
    }

    footer .row
    {
        margin-bottom: 1vw;
    }

    footer h2
    {
        font-size: 2.4vw;
        font-weight: 700;

        margin-top: 6vw;
        margin-bottom: 6vw;
    }
    footer h3
    {
        font-size: 1.9vw;

        margin-top: 2vw;
    }
    footer form input
    {
        font-size: 1.12vw;

        width: 23vw;
        height: 2.76vw;
        margin-right: .6vw;
        margin-left: .6vw;
        padding-left: 2vw;

        border: none;
        border-radius: 3px;
        background-color: #fff;
    }

    footer form .submit
    {
        font-size: 1.5vw;
        font-weight: 400;

        width: 25vw;
        height: 2.8vw;
        margin-top: 1.6vw;
        margin-bottom: 2.2vw;
        padding: 0;

        color: #fffefe;
        border-color: #d70000;
        border-radius: 25px;
        background-color: #d70000;
    }

    form .email
    {
        font-size: 1vw;
    }

    .social_ico
    {
        margin-top: .64vw;
    }
}
